<div class="title">timetrabbble</div>
<h1>most popular dribbble shots on</h1>
<h2><%= @date %></h2>

<div class="fluid-container previews-container">
	<div class="row">
		<% @urls.each do |year, year_json| %>
				<div class="col l2 s12">
					<% if year_json["image"] %>
						<a class="black-text" href="<%= year_json["backlink"] %>">
							<img src="<%= year_json["image"] %>" alt="" width="100%">
						</a>
					<% else %>
						<div class="preview-holder grey-text">
							no shots found &#x1F601;
						</div>
					<% end %>
					<div class="year"><%= year =%></div>
				</div>
		<% end %>
	</div>
	<div class="row">
		<%= form_tag('/email', remote: true) do %>
			<div class="col s12 l4 offset-l4" style="padding: 0;">
				<p>Sign up to receive a daily dose of inspiration in your inbox!</p>
				<div class="input-field">
					<input placeholder="Enter your email" id="email_field" type="text" class="validate">
				</div>
				<%= submit_tag 'INSPIRE ME', class: 'btn blue dose-btn' %>
			</div>
		<% end %>
	</div>
</div>
 <footer class="page-footer blue darken-3">
  <div class="container">
    <div class="row" style="margin-bottom: 0;">
      <div class="col s12">
        <h5 style="float: left; margin-top: 20px;" class="white-text">About me</h5> <img style="float: left; margin-left: 15px; margin-bottom: 15px;" width="50" src="images/round-200x200.png" alt="avatar">
        <p style="clear: both; font-weight: 300" class="grey-text text-lighten-4">I'm the co-founder of <strong><a class="yellow-text text-darken-2" href="http://www.zeroheight.com">zeroheight.com</a></strong> &#8212; a new collaboration platform for designers. <br>When I'm not working on that, I like to hack on random things and complain about social media &#x1F43C;</p>
        <a href="https://twitter.com/_jeromedl" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @_jeromedl</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>

      <div class="col l4 offset-l2 s12">
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2016 Jerome de Lafargue
    </div>
  </div>
</footer>

<script>

  mixpanel.track("visited");

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-71722702-1', 'auto');
  ga('send', 'pageview');
</script>