<div style="max-width:300px; margin: auto; text-align: center; padding: 20px 0;">
<div style='font-family: "Trebuchet MS", Verdana, Monaco, Geneva, Helvetica;'>Sorry for the wait &#128584;</div>
<br>

<%= image_tag "header.png", width: "100%" %>

<h2 style='font-size: 36px; margin-top: 15px; font-family: "Trebuchet MS", Verdana, Monaco, Geneva, Helvetica;'><%= @date %></h2>

<% @urls.each do |year, year_json| %>
	<div style="margin-bottom: 20px;">
		<a href="<%= year_json["backlink"] %>">
			<img src="<%= year_json["image"] %>" alt="" width="100%" style="max-width:400px; margin: auto; border: 1px solid #ddd;">
		</a>
		<div style='font-family: "Trebuchet MS", Verdana, Monaco, Geneva, Helvetica;'><%= year =%></div>
	</div>
<% end %>

<a style='font-family: "Trebuchet MS", Verdana, Monaco, Geneva, Helvetica; text-decoration: underline; color: #111;' href="/unsubscribe">Unsubscribe</a>

</div>