// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
	font-family: DawningofaNewDay, "Brush Script MT", "Trebuchet MS";
	text-align: center;
	font-size: 38px;
	color: #ED4984;
}

h1 {
	text-align: center;
	font-weight: 400;
	font-size: 16px;
	font-variant: small-caps;
	margin-top: 0;
}

h2 {
	text-align: center;
	font-weight: 300;
	font-size: 34px;
	margin-top: 34px;
}

.previews-container {
	@media only screen and (min-width: 993px) {
		margin-top: 50px;
	}
	@media only screen and (max-width: 992px) {
		margin-top: 40px;
	}
	.col {
		text-align: center;
		margin-bottom: 20px;
		img {
			max-height: 400px;
			max-width: 300px;
			border: 1px solid #ddd;
			border-radius: 1px
		}
		.preview-holder {
			width: 100%;
			min-height: 140px;
			max-height: 400px;
			max-width: 300px;
			background: #ddd;
			margin: auto;
			padding-top: 55px;
		}
	}
	.year {
		font-weight: 500;
	}
}

@media only screen and (max-width: 992px) {
	.input-field {
		width: 80%;
		margin: auto;
	}
}

p {
	font-size: 14px;
}

form p {
	text-align: center;
}

/* label color */
.input-field label {
	color: #2196f3;
}
/* label focus color */
.input-field input[type=text]:focus + label {
	color: #2196f3;
}
/* label underline focus color */
.input-field input[type=text]:focus {
	border-bottom: 1px solid #2196f3;
	box-shadow: 0 1px 0 0 #2196f3;
}
/* valid color */
.input-field input[type=text].valid {
	border-bottom: 1px solid #2196f3;
	box-shadow: 0 1px 0 0 #2196f3;
}
/* invalid color */
.input-field input[type=text].invalid {
	border-bottom: 1px solid #2196f3;
	box-shadow: 0 1px 0 0 #2196f3;
}
/* icon prefix focus color */
.input-field .prefix.active {
	color: #2196f3;
}