<div style="max-width:300px; margin: auto; text-align: center; padding: 20px 0;">

<%= image_tag attachments["header.png"].url, alt:"timetrabbble title", width: "100%" %>

<h2 style='font-size: 36px; margin-top: 15px; font-family: "Trebuchet MS", Verdana, Monaco, Geneva, Helvetica;'><%= @date %></h2>

<% @urls.each do |year, year_json| %>
	<div style="margin-bottom: 20px;">
		<a href="<%= year_json["backlink"] %>">
			<img src="<%= year_json["image"] %>" alt="most popular shot in <%= year %>" width="100%" style="max-width:400px; margin: auto; border: 1px solid #ddd;">
		</a>
		<div style='font-family: "Trebuchet MS", Verdana, Monaco, Geneva, Helvetica;'><%= year =%></div>
	</div>
<% end %>

<a style='font-family: "Trebuchet MS", Verdana, Monaco, Geneva, Helvetica; text-decoration: underline; color: #111;' href="http://www.timetrabbble.com/unsubscribe/<%=@uid%>">Unsubscribe</a>

</div>